<h3>Aquarius, Gemini, Libra</h3>
<ul>
<% words.forEach(element => { %> 
    <li><%- element %></li>
<%  }); %> 
</ul>

<h3>Signs</h3>
<ul>
    <li><a href="/air/aquarius">Aquarius</a></li>
    <li><a href="/air/gemini">Gemini</a></li>
    <li><a href="/air/Libra">Libra</a></li>
</ul>