<h3>Aries, Leo, Sagittaurus</h3>
<ul>
<% words.forEach(element => { %> 
    <li><%- element %></li>
<%  }); %> 
</ul>


<h3>Signs</h3>
<ul>
    <li><a href="/fire/aries">Aries</a></li>
    <li><a href="/fire/leo">Leo</a></li>
    <li><a href="/fire/sagittarius">Sagittarius</a></li>
</ul>