<h3>Pisces, Cancer, Scropio</h3>
<ul>
<% words.forEach(element => { %> 
    <li><%- element %></li>
<%  }); %> 
</ul>



<h3>Signs</h3>
<ul>
    <li><a href="/water/cancer">Cancer</a></li>
    <li><a href="/water/pisces">Pisces</a></li>
    <li><a href="/water/scorpio">Scorpio</a></li>
</ul>